{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>All Artists</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
                
        <link rel="stylesheet" href="{% static 'plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins\bootstrap-select\css\bootstrap-select.css' %}">

        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'css\main.css' %}">
        <link rel="stylesheet" href="{% static 'css\color_skins.css' %}">

    </head>
        
        <div class="card" style="width: 20%; height: 20%; padding-top: 50px;">
        <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arijit Singh</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
        <div class="card" style="width: 20%; height: 20%; padding-top: 50px;">
        <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arijit Singh</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <!-- Scripts -->
        <script src="..\assets\bundles\libscripts.bundle.js"></script>    
        <script src="..\assets\bundles\vendorscripts.bundle.js"></script>

        <script src="..\assets\bundles\mainscripts.bundle.js"></script>
                        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>
{% endblock %}